.mic {
  position: absolute;
  height: 194px;
  left: 556px;
  top: 307px;
  width: 176px;
}

.shadow {
  position: absolute;
  inset: 0;
  box-shadow: 5px 10px 39px 0px rgba(0, 0, 0, 0.4);
}

.imageContainer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.image {
  position: absolute;
  height: 176.29%;
  left: -16.48%;
  max-width: none;
  top: -36.6%;
  width: 129.55%;
}
