.recordButton {
  position: absolute;
  height: 68px;
  left: 534px;
  top: 520px;
  width: 212px;
}

.border {
  position: absolute;
  inset: -2.94% -0.94%;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
}

.circleContainer {
  position: absolute;
  inset: 14.71% 70.75% 14.71% 6.6%;
}

.circleInner {
  position: absolute;
  inset: -4.17%;
}

.playIconContainer {
  position: absolute;
  display: flex;
  inset: 26.47% 74.8% 27.33% 10.38%;
  align-items: center;
  justify-content: center;
}

.playIcon {
  flex: none;
  width: 23px;
  height: 23px;
  transform: rotate(-30deg);
}

.playIconInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.playIconSvg {
  position: absolute;
  inset: -8.7% -2% 16.3% -2%;
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: italic;
  inset: 14.71% 6.6% 14.71% 41.51%;
  justify-content: center;
  line-height: 0;
  color: #e4dbff;
  font-size: 24px;
}

.textContent {
  line-height: normal;
  white-space: pre-wrap;
}
